* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
}

.removebtn {
  color: red;
  font-size: 20px;
  cursor: pointer;
}

/* bootstrap overrides*/
.navbar-toggler {
  border: none !important;
  font-size: 1.5rem !important;
  transition: all 0.3s ease-in-out !important;
}

.navbar-toggler:hover {
  transform: scale(1.05);
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.nav-link {
  transition: all 0.3s ease-in-out !important;
  font-weight: 600;
  margin-right: 1rem !important;
}
.nav-link:hover {
  transform: scale(1.05);
}

.form-control {
  text-align: center !important;
  min-width: fit-content !important;
  max-width: 120px !important;
  border: none !important;
  border-bottom: 1px solid #000 !important;
  cursor: pointer;
}
