* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
}

/* bootstrap overrides*/
.navbar-toggler {
  border: none !important;
  font-size: 1.5rem !important;
  transition: all 0.3s ease-in-out !important;
  color: #000;
}

.navbar-toggler:hover {
  transform: scale(1.1);
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.nav-link {
  transition: all 0.3s ease-in-out !important;
  font-weight: 600;
  color: #000 !important;
  margin-right: 1rem !important;
}
.nav-link:hover {
  transform: scale(1.1);
}
