* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  margin: 10rem 0;
}

.removeBtn {
  color: red;
  font-size: 20px;
  cursor: pointer;
}

/* bootstrap overrides*/
.navbar-toggler {
  border: none !important;
  font-size: 1.5rem !important;
  transition: all 0.3s ease-in-out !important;
}

.navbar-toggler:hover {
  transform: scale(1.02) !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.nav-link {
  transition: all 0.3s ease-in-out !important;
  font-weight: 600;
  margin-right: 1rem !important;
  color: #000 !important;
  display: flex !important;
  align-items: center !important;
  text-transform: uppercase !important;
}
.nav-link:hover {
  transform: scale(1.02);
}

.form-control {
  text-align: center !important;
  width: fit-content !important;
  border: none !important;
  border-bottom: 1px solid #000 !important;
  cursor: pointer;
  background: #fff !important;
}

form-control::placeholder {
  text-align: center !important;
}

/* or, for legacy browsers */

form-control::-webkit-input-placeholder {
  text-align: center !important;
}

form-control:-moz-placeholder {
  /* Firefox 18- */
  text-align: center !important;
}

form-control::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center !important;
}

form-control:-ms-input-placeholder {
  text-align: center !important;
}
